
body {
    background-color: white;
    /* #F5F5DC */
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7vw;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 1vw;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

li > a{
    font-size: max(1vw, 20px);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: black; 
    transform: scale(1);
    display: inline-block;
    transition: color 0.2s ease-in, transform 0.28s ease-in;
}

a {
    text-decoration: none;
}

li > a:hover {
    color: #888888;
    transform: scale(1.2);
}


#navbar {
    padding-top: 2vw;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
}

#hamburger-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-height: 0;
    opacity: 0;
    pointer-events: none; /* Disables clicking on hamburger dropdown */
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

#hamburger-navbar.opened {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
}

.nav-links {
    display: flex;
    justify-content: right;
    align-self: right;
    align-items: center;
    padding-right: 1.8vw;
    gap: 2vw;
    list-style-type: none;
}

.hamburger-nav-links {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    padding-bottom: 2rem;
    padding-right: 10vw;
    list-style-type: none;
}

.hamburger-button {
    visibility: hidden;
}

.hamburger-button:hover {
    color: #888888;
}

#navbar-picture {
    width: max(44vw, 250px); 
    height: auto;
}

@media screen and (max-width: 1095px) { 
    .nav-links {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 10vw;
    }
    .hamburger-button {
        visibility: visible;
    }
    #index {
        display: none;
    }
    #services {
        display: none;
    }
    #portfolio {
        display: none;
    }
    #contact-us {
        display: none;
    }
}

/* ABOUT PAGE */
#about-us {
    display: flex;
    flex-direction: column;
    padding-left: 13vw;
    padding-top: 2.5vw;
    padding-right: 13vw;
    align-self: center;
    align-items: first baseline;
}

#about-us > h2 {
    font-size: 25px;
}

#image-container {
    display: flex;
    align-self: center;
    position: relative;
    text-align: center;
    color: white;
}

#about-us-text {
    width: 90%;
    font-size: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-us-photo {
    filter: brightness(100%);
    max-width: 100%;
    height: 500px;
    width: 100%;
    margin-bottom: 0.5vw;
    border-radius: 13px;
    object-fit: cover;
}

#main-buttons {
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

/* Underlines active page */
.active-nav {
    text-decoration: underline;
    text-underline-offset: 6px; /* optional: space between text and underline */
    color: #BA3940;
}



/* SERVICES PAGE */
#services-text {
    text-align: center;
    padding-top: 2vw;
    display: flex;
    justify-content: center;
    font-size: 44px;
}


#services-div {
    height: auto;
    width: 100%;
    padding: 2vw;
    padding-top: 5vw;
    display: grid;
    gap: 3vw;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-self: center;              
}



#service1 {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    color: #1d1d1f;
    grid-row: 1;
    background-color: #f5f5f7;
    height: 27vw;
    width: 27vw;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 0.3s;
    align-items: center;
}
#service1:hover {
    transform: scale(1.03);
}
#service2 {    
    display: flex;
    flex-direction: column;
    padding: 3vw;
    color: #1d1d1f;
    align-items: center;
    background-color: #f5f5f7;
    height: 27vw;
    width: 27vw;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 0.3s ease-in;
}
#service2:hover {
    transform: scale(1.03);
}
#service3 {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    color: #1d1d1f;
    align-items: center;
    background-color: #f5f5f7;
    height: 27vw;
    width: 27vw;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 0.3s;
}
#service3:hover {
    transform: scale(1.03);
}
#service4 {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    color: #1d1d1f;
    align-items: center;
    background-color: #f5f5f7;
    height: 27vw;
    width: 27vw;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 0.3s;
}
#service4:hover {
    transform: scale(1.03);
}

.learn-more {
    margin-top: auto; /* Pushes card to bottom*/
    margin-bottom: 0vw;
    display: flex;
    background-color: #BA3940;
    border-radius: 900px;
    height: 3vw;
    width: 8vw;
    justify-content: center;
    align-items: center;
    color: white;
}


@media (max-width: 800px) {
    #services-div {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #services-div > a > div {
        height: 100vw;
        width: 85vw;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    #services-div > a > div > h1 {
        font-size: 5vw;
    }
    #services-div > a > div > h2 { 
        font-size: 3vw;
    }

    .learn-more {
        margin-bottom: 2vw;
        height: 7.69vw;
        width: 20vw;
    }
    #about-us {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #about-us-photo {
        margin-top: 10vw;
    }
    #about-us-text {
        font-size: 33px;
    }
    #about-us > h2 {
        font-size: 20px;
    }
    #hamburger-icon {
        font-size: 25px;
    }
    h3 {
        font-size: 2vw;
    }
}


@media (max-width: 500px) { 
    .learn-more > h3{
        font-size: 3.3vw;
    }
    .learn-more {
        height: 9.6vw;
        width: 25vw;
    }
    #services-div > a > div > h2 { 
        font-size: 4vw;
    }
}

/* PORTFOLIO PAGE */

#portfolio-text {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    font-size: 44px;
}

#portfolio-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 1vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
}

#portfolio-list > li {
    margin: 2vw;
    font-size: 30px;
}

#portfolio-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio-bubble {
    background-color: #f5f5f7;
    padding: 10px;
    border-radius: 13px;
    flex-direction: column;
    display: flex;
    align-items: center;
}


.contact-us-button {
    margin-bottom: 1vw;
    display: flex;
    background-color: #BA3940;
    border-radius: 900px;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1);
    transition: transform 0.3s;
}

.contact-us-button:hover {
    transform: scale(1.03);
}



/* CONTACT US  PAGE */
#contact-text {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    font-size: 44px;
}

.contact-us-text {
    font-size: 20px !important;
}

#contact-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#contact-body > #form-body > #contact-form > div {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

label { 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

input {
    border-radius: 8px;
    border-color: rgb(180, 174, 174);
    border-style: solid;
    border-width: 2px;
}

input[type=submit] {
    background-color:  #BA3940;
    border-radius: 200px;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: white;
    border-width: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    transform: scale(1);
    transition: transform 0.3s;
}
input[type=submit]:hover {
    transform: scale(1.03);
    cursor: pointer;
}

input[type=text] {
    padding: 8px;
    height: 40px;
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

textarea {
    border-radius: 8px;
    border-color: rgb(180, 174, 174);
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 300px;
    height: 240px;
}

#contact-image-div {
    height: 40vw;
    width: 25vw;
    background-color: red;
}


/* INNER SERVICES PAGE */

#main-service-content {
    background-color: #f5f5f7;
    border-radius: 13px;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1vw;
    display: flex;
    width: 1200px;
    justify-self: center;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

.service-row {
    display: flex;
    width: 1200px;
    height: 500px;
    gap: 1vw;
}

.service-text {
    width: 50%;
    height: 100%;
}

.service-text > h1 {
    font-size: 20px;
    font-weight: 400;
}

.service-image {
    width: 50%;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1250px) { 
    #main-service-content {
        width: 90%;
    }
    .service-row {
        width: 100%;
        height: px;
    }
    .service-image {
        width: 50%;
        height: 100%;
        height: 50vw;
    }

    .service-text {
        width: 50%;
    }

} 

@media (max-width: 800px) { 
    .service-row {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .service-text {
        width: 100%;
        height: 50%;
    }
    .service-image {
        width: 100%;
        height: 50%;
        
    }
    #main-service-row > a > div {
        margin-bottom: 1vw;
    }
    #portfolio-list > li {
        font-size: 20px;
        margin: 4vw;
    }
} 

